# ignore vscode files
.vscode/c_cpp_properties.json
.vscode/settings.json
.vscode/*.log

# exclude vim temp files
*~

# exclude ISO and build directories created when building the project
ISO
build
build_utilities
*.iso
*.bin
